TOKEN_CONTRACT_ADDRESS="0xxxxxxxxxxx"
SEED_PHRASE="12 or 24 words of seed phrase"
FROM="0xxxxxxxxxxxx"
INFURA_NODE_ID="1234554"
DB_NAME="test"
DB_USER="admin"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_PORT="31956"
TOKEN_AMOUNT=10
COOLING_PERIOD_IN_HOURS=24