<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ocean Rinkeby Test Faucet</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Test Faucet for OCEAN ">
    <meta name="theme-color" content="#1965bf">
    <meta name="msapplication-TileColor" content="#1965bf">
    <link rel="search" href="open-search.xml" title="Search OCEAN test faucet" type="application/opensearchdescription+xml" />

    <link rel="shortcut icon" media="(prefers-color-scheme:light)" href="images/favicon-black.png" type="image/png" />
    <link rel="shortcut icon" media="(prefers-color-scheme:dark)" href="images/favicon-white.png" type="image/png" />

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon-white.png">
    <link rel="mask-icon" href="images/favicon-white.png" color="#1965bf">

    <link rel="preload" href="css/bootstrap.min.css" as="style">
    <link rel="preload" href="css/index.css" as="style">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">

  </head>
  <body>
    <div class="page">
      <div class="inner"  style="overflow: none;"">
        <svg id="waves" width="100%" height="500"></svg>
        <div class="section">
          <div class="container">
            <div class="center">
              <h4 class="title title-2">Ocean Rinkeby Test Faucet</h4>
            </div>
            
            <div class="row align-items-center">
              <div class="col-md-6 col-xl-6">
                <div class="subscribe">
                 
                      <form class="form" action="/send"> 
                    <div class="form-group">
                      <label for="address" class="form-label">Enter your wallet address</label>
                      <input class="form-control" type="text" placeholder="0x12345.....abcde" required="" id="address" name="address"/>
                      <br/>

                    </div>
                    <div class="col-md-12 col-xl-12 text-center">
                        <button type="submit" class="btn btn-primary skip-dark" id="createBtn">Get 10 OCEAN</button>
                      </div>
                      <% if(message && success) { %>
                        <div class="notify text-center">
                        <h5 class="success"><%= message %></h5>
                        <a><%= link %></a>
                      </div>
                      <% } else { %>
                        <div class="notify text-center">
                            <h5 class="error"><%= message %></h5>
                          </div>
                      <% } %>
                     
                    </form>
                 
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/d3.v6.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
